
body{
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    font-weight: 400;
    font-size: 20pt;
}

h3{
    font-family: 'Comfortaa', cursive;
    font-size: 18pt;
}

h5{
    font-family: 'Cinzel Decorative', cursive;
    width: 100%;
    font-weight: 700;
    font-size: 14pt;
    color: #763D14;
}

.titleRunners{
    text-align: center;
    vertical-align: middle;
    background-color: #48742C;
    color: white;
    padding-top: 10px;
    padding-bottom: 0.5px;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.heading{
    color: #763D14;
}

.heading2{
    color: #763D14;
    margin-bottom: 30px;
}







.customNav{
    background-color: #353535;
    padding-top: 20px 10px ;
}

.customNav a{
    color: white !important;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.heroBackground{
    background-image: url(../images/GotToGo/Cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 414px;
    display: flex;
    justify-content: center;
}

.display-4{
    color: #763D14;
    text-align: left;
    font-size: 36pt;
    transform: translateX(600px);
}

.lead{
    color: #48742C;
    font-size: 20pt;
    text-align: left;
    transform: translateX(600px);
}

.lead2{
    color: #353535;
    font-size: 20pt;
    text-align: left;
    transform: translateX(600px);
}

.dropdown-menu-text a{
    color: #353535;

}

.dropdown-menu-text{
    margin-left: -100px;
}



.coverimg{
    height: 490px;
}
